.meals-box{
    border-color: greenyellow;
}

button{

    padding-left: 50px;
}

h1{
    text-align: center;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
