#create-btn{
    border: 2px solid black;
    padding: 5px;
    background-color:rgb(88, 183, 24);
    color: black;
    font-size:  16px;
    cursor: pointer;
    border-radius: 5px;
}
#remove-btn {
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(223, 32, 57);
    color: black;
    font-size:  16px;
    cursor: pointer;
    border-radius: 5px;
}