button[aria-expanded='false'] + ul {
  visibility: hidden;
  display: none;
}
#primary-navigation li a {
  text-decoration: underline;
  font-weight: 700;
  color: #2757c7;
}
#primary-navigation li a:hover {
  text-underline-offset: 3px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

@media screen and (width > 768px) {
  button[aria-expanded='true'] + ul {
    display: flex;
    gap: 1rem;
    background: transparent;
  }
}
